<div *ngIf="boards && writeSw==false" class="container mx-auto my-5">
  <div class="row">
    <mat-table [dataSource]="dataSource">
      <!-- No Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> no </mat-header-cell>
        <mat-cell *matCellDef="let consumption"> {{consumption.id}} </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> title </mat-header-cell>
        <mat-cell class="cur" *matCellDef="let consumption" routerLink="/board/{{ consumption.id }}" > {{consumption.title}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let consumption"> {{consumption.user }} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="pub_date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let consumption"> {{consumption.pub_date | date: 'yy-MM-dd HH:mm:ss'}} </mat-cell>
      </ng-container>

      <!-- Row Template -->
      <mat-header-row *matHeaderRowDef="['id','title', 'user','pub_date']"></mat-header-row>
      <mat-row *matRowDef="let consumption; columns: ['id','title', 'user', 'pub_date'];">
      </mat-row>
    </mat-table>
  </div>

  <div class="row">
    <div class="mt-3">
      <mat-paginator [length]=length
                     [pageSize]=pageSize
                     (page)="changePage($event)"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
  <div class="row justify-content-end">
    <button type="button" class="btn btn-dark btn-sm mt-3 col-md-1" (click)="writeSwitch(true)">Write</button>
  </div>
</div>
<div>
  <app-board-form *ngIf="writeSw" [board]="writableBoard"
                  (switch)="writeSwitch(false)"
                  (boardCreated)="boardCreated($event)">
  </app-board-form>
</div>



