<main>
  <div class="container m-4 mx-auto">
    <div class="col-md-7 p-lg-5 mx-auto">
      <form [formGroup]="authForm" (ngSubmit)="saveForm()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="username">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
        </div>
        <div class="row justify-content-end">
          <button *ngIf="!registerMode" type="submit" class="btn btn-dark btn-sm my-2 col-md-2">Login</button>
          <button *ngIf="registerMode" type="submit" class="btn btn-dark btn-sm my-2 col-md-2">Register</button>
        </div>
        <div class="mb-3" *ngIf="loginFailMsg">
          ID or Password is incorrect Check it again.
        </div>
        <div class="row justify-content-end notice">
          <span *ngIf="!registerMode" (click)="registerMode = true">Don't have an account? Register here.</span>
          <span *ngIf="registerMode" (click)="registerMode = false">Already have an account? Go to login.</span>
        </div>
      </form>
    </div>
  </div>
</main>
