<div *ngIf="board && !editSw && !cmtSw" class="container">
  <div class="row m-1">
    <div class="border-bottom col-12 mx-auto mb-2 mt-5">
      <h1>{{ board.title }}</h1>
    </div>
    <div class="col-12 mb-3">
      <a class="name_and_date">{{ board.user }} {{ board.pub_date | date: 'yy-MM-dd HH:mm:ss ' }}</a>
    </div>
    <div class="col-12 mt-3">
      <a>{{ board.description }}</a>
    </div>
  </div>
  <div class="row justify-content-end text-center mx-auto m-1 mt-5">
    <button type="button" class="btn btn-dark btn-sm my-2 col-md-1" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-dark btn-sm my-2 ms-2 col-md-1" (click)="cmtSwitch(true)">Comment</button>
    <button type="button" class="btn btn-dark btn-sm my-2 ms-2 col-md-1"
            *ngIf="board.user == this.username || this.username == 'admin'"
            (click)="editSwitch(true)">Edit</button>
    <button type="button" class="btn btn-dark btn-sm my-2 ms-2 col-md-1"
            *ngIf="board.user == this.username || this.username == 'admin'"
            (click)="boardDeleted(board)">Delete</button>
  </div>
</div>

<div *ngIf="board && !editSw && !cmtSw" class="container">
  <div class="row m-1">
    <div *ngIf="board.comments.length">
      <div class="col-12 mb-2">
        <h2> Comments </h2>
      </div>
      <div *ngFor="let comment of board.comments" class="border-top mt-2">
        <div class="mt-2 mb-4">
          <a class="name_and_date">
            {{ comment.user }} {{ comment.pub_date | date: 'yy-MM-dd HH:mm:ss' }}
          </a>
        </div>
        <div class="col-md-12">
          <a>{{ comment.comment }}</a>
        </div>
        <div class="row justify-content-end">
          <button type="button" class="btn btn-dark btn-sm my-2 ms-2 col-md-1"
                  *ngIf="comment.user == this.username || this.username == 'admin'"
                  (click)="cmtSwitch(true); commentSet(comment)">Edit</button>
          <button type="button" class="btn btn-dark btn-sm my-2 ms-2 col-md-1"
                  *ngIf="comment.user == this.username || this.username == 'admin'"
                  (click)="commentDelete(comment)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="board && editSw">
  <div class="row">
    <app-board-form [board]="board"
                    (switch)="editSwitch($event)"
                    (boardUpdated)="boardUpdated($event)"
    ></app-board-form>
  </div>
</div>


<div class="container" *ngIf="board && cmtSw">
  <div class="row">
    <app-board-comment-form [comment]="comment"
                            [board]="board"
                            (commentCreated)="commentCreated($event)"
                            (commentUpdated)="commentUpdated()"
                            (switch)="cmtSwitch($event)"
    ></app-board-comment-form>
  </div>
</div>
